.input-group {
  border: 1px solid lightgrey;
  border-radius: 20px;
}
.input-group_text {
  background: transparent;
  border: none;
  padding-right: 0;
}
.input-group_input {
  border: none;
  border-radius: 20px;
  width: 100px;
}
.w-145 {
  width: 145px;
}
